* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
body {
	margin: 0;
}
html,
body {
	min-width: 320px;
	height: 100%;
}

.chat {
	background-color: azure;
}

.chat__container {
	max-width: 1170px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.chat__messages {
	border-radius: 10px;
	height: 250px;
	width: 80%;
	background-color: white;
	overflow-y: auto;
	margin: 0px 0px 10px 0px;
	padding: 20px;
	box-shadow: 0px 0px 15px rgba(32, 32, 32, 0.05);
}

.chat__messages::-webkit-scrollbar {
	height: 12px;
	width: 4px;
	background: #f4f4f4;
}

.chat__messages::-webkit-scrollbar-thumb {
	background: cadetblue;
	-webkit-border-radius: 5px;
}

.chat__messages::-webkit-scrollbar-corner {
	background: #000;
}

.chat__actions {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.chat__input {
	padding: 10px;
	border-radius: 5px;
	border: 1.5px solid #cacaca;
	width: 250px;
	background-color: white;
}

.chat__input:focus {
	outline: none;
}

.chat__image img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.chat__field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	max-width: 100%;
}

.chat__field span {
	margin: 0px 20px 0px 0px;
}

.chat__examples {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.chat__example {
	padding: 6px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(32, 32, 32, 0.05);
	border: 1.5px solid #cacaca;
	background-color: white;
	margin: 0px 10px 10px 0px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.chat__example:hover {
	border-color: #949494;
}

.user,
.bot {
	display: flex;
	align-items: flex-start;
	max-width: 50%;
	background-color: white;
	margin: 0px 0px 15px 0px;
}

.bot-inner {
	min-height: 24px;
	display: flex;
	align-items: center;
}

.response {
	margin: 2px 0px 0px 5px;
	font-weight: normal;
	font-size: 16px;
}

.bot {
	display: flex;
	flex-direction: row-reverse;
	margin: 0 0 15px auto;
	max-width: 50%;
}

.bot img {
	margin: 0px 0px 0px 4px;
}

.typing {
	font-style: italic;
	color: grey;
}

@media (min-width: 991px) {
	.chat__image {
		flex: 0 1 400px;
		margin: 0px 0px 0px 50px;
	}
	.chat__examples {
		position: absolute;
		top: 0;
		right: 330px;
		max-width: 357px;
	}
}

@media (max-width: 1100px) {
	.chat__messages {
		width: calc(100% - 40px);
	}
}

@media (max-width: 991px) {
	.chat__container {
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
	.chat__image {
		margin: 30px 0px;
		align-self: flex-end;
		max-width: 200px;
	}
	.chat__image img {
		height: 100%;
	}
	.chat__actions {
		margin: 0px 0px 20px 0px;
	}
	.chat__messages {
		height: 100%;
		height: calc(100vh - 200px);
	}
}

@media (max-width: 767px) {
	.chat__image {
		margin: 10px 0px;
		max-width: 150px;
	}
	.chat__field,
	.chat__input-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}
	.chat__actions {
		position: relative;
	}
	.chat__field {
		position: absolute;
		top: 100%;
		left: 0;
	}
	.chat__input-wrapper span {
		margin: 0px 0px 10px 0px;
		text-align: center;
	}
	.chat__examples {
		position: relative;
		top: auto;
		right: auto;
	}
	.chat__messages {
		height: calc(100vh - 390px);
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 570px) {
	.bot,
	.user {
		width: 100%;
		max-width: none;
	}
}
